html {
	font-family: 'Orbitron', sans-serif;
}

body {
	background: rgb(40, 44, 52);
	color: rgb(202, 202, 202);
}

h1 {
	font-size: 18px;
	margin: 0 auto 10px;
	text-align: center;
}

.device {
	background: #3a404c;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #1c1c1c;
	height: 410px;
	margin: 20px auto;
	padding: 20px;
	width: 300px;
}

.screen {
	background: #000b3d;
	color: #07ebff;
	font-size: 24px;
	height: 54px;
	padding: 10px;
	margin: 15px auto;
	text-align: right;
	width: 244px;
}

.message {
	font-size: 16px;
}

.keypad {
	margin: 15px auto;
}

.row {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.last-row {
	margin-left: 10px;
}

button {
	background: #303030;
	border: 1px solid #0e0e0e;
	color: rgb(202, 202, 202);
	display: table-cell;
	font-family: 'Orbitron', sans-serif;
	font-size: 1.3em;
	margin: 8px;
	position: relative;
	height: 42px;
	vertical-align: top;
	width: 54px;
}

.zero {
	bottom: 56px;
	position: relative;
	width: 124px;
}

.equal {
	height: 96px;
}

.point {
	bottom: 56px;
	position: relative;
}

.ac, .ce {
	color: #ff0004;
}
