@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: normal;
	src:
		local('Orbitron Regular'),
		local('Orbitron-Regular'),
		/* from https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dyk.eot */
		url('Orbitron.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dys.woff */
		url('Orbitron.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dy0.woff2 */
		url('Orbitron.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=yMJRMIlzdpvBhQQL_Qq7dyo&skey=1145794a0c86a867&v=v9#Orbitron */
		url('Orbitron.svg#Orbitron') format('svg'),
		/* from https://fonts.gstatic.com/s/orbitron/v9/yMJRMIlzdpvBhQQL_Qq7dyg.ttf */
		url('Orbitron.ttf') format('truetype');
}
